.container {
    width: 960px;
    display: block;
    margin: 0 auto;
}

a {
    font-family: 'Arial Regular', 'Arial';
    font-size: 16px;
    font-weight: normal;
}
[class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 5px;
    margin-right: 5px
}

.span12 {
    width: 950px !important
}

.clear_fix {
    clear: both;
}

.mt20 {
    margin-top: 20px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}
[class^=slider] {
    position: relative;
    background: #F7F7F7;
    margin-left: 1px;
    margin-right: 1px;
}

.sliderPanel {
    width: 868px;
    height: 250px;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    margin: 0 auto;
}

.contentItem {
    display: block;
    float: left;
    color: #333;
    width: 215px;
    height: 250px;
    text-align: left;
    position: relative;
    border-right: 2px dotted #ccc;
    background: transparent;
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}

.contentItem.big {
    font-size: 32px;
    position: relative;
    top: 38%;
    display: block;
    text-align: center;
}

.slider-prev, .containerBox, .slider-next {
    display: inline-block;
}

.slider-prev {
    width: 38px;
    height: 100px;
    color: red;
    text-align: center;
   /* background: #DDD;*/
    position: absolute;
    left: 0;
    z-index: 1;
    top: 50%;
    margin-top: -100px;
}

.slider-next {
    width: 38px;
    height: 100px;
    color: red;
    text-align: center;
   /* background: #DDD;*/
    float: right;
    position: absolute;
    right: 0;
    z-index: 1;
    top: 50%;
    margin-top: -100px;
}

.lr {
    font-size: 28px;
    position: relative;
    top: 40%;
    cursor: pointer;
}

.bottom-carousel {
    text-align: center;
}

/*.bottom-carousel a {
    font-size: 40px;
    text-decoration: none;
    color: gray;
    margin: 2px;
}
*/
/*.bottom-carousel a {
    font-size: 20px;
    text-decoration: none !important;
    color: gray;*/
    /* padding: 0 6px; */
    /*width: 32px;
    display: inline-block;
}*/
.bottom-carousel a {
    font-size: 20px;
    text-decoration: none !important;
    color: gray;
    width: 32px;
    display: inline-block;
    margin-top: 4px;
}
/*.bt-right {*/
    /* border-right: 1px solid #666; */
    /*border-radius: 0px 12px 12px 0;
    box-shadow: 1px 0px 3px 1px #afafaf;
}*/
.bt-right {
    border-radius: 0px 12px 12px 0;
    box-shadow: 1px 0px 2px 1px #afafaf;
}

/*.bt-left {*/
    /* border-right: 1px solid #666; */
    /*border-radius: 12px 0 0 12px;
    box-shadow: -2px 1px 2px 0px #afafaf;
}*/
.bt-left {
    border-radius: 12px 0 0 12px;
    box-shadow: -1px 0px 1px 1px #afafaf;
}

.topLeftDisable, .btLeftDisable, .topRightDisable, .btRightDisable {
    opacity: 0.2;
    cursor: default;
}

/*ul.round {
    position: relative;
    float: left;
    top: 19px;
    left: 40%;
    width: auto;
    display: inline-block;
}*/
ul.round {
    position: relative;
    float: left;
    top: 0px;
    left: 38%;
    width: auto;
    display: inline-block;
    margin: 8px 0;
}

li.roundItem {
    display: inline-block;
    padding: 6px;
    border: 1px solid #666;
    border-radius: 50%;
    margin-right: 2px;
}

li.roundItem.active {
    background: black;
}

/*******************************************************************/
.controls-container button {
    padding: 10px;
    min-width: 100px;
    background: white;
    color: #4B4B4B;
    border-width: 1px;
    border-width: 0px;
    box-shadow: 0px 3px 8px -3px #797878;
    font-weight: 400;
    font-size: 14px;
    font-family: Arial,sans-serif;
    position: relative;
    margin-right: -2px;
}
.controls-container button:hover
{
    background: #E7E7E7;
}
.controls-container button.selected
{
    background: gray;
    color:ghostwhite;
}
.controls-container button.selected:focus,button:focus {
    outline: none;
}
#component-container
{
    min-width: 900px;
    width: 960px;
    margin:auto;
}
.controls-container > div
{
    
    display: inline-block;
    font-weight: 600;
    color: #202020;
    vertical-align: top;
}
.controls-container
{
    display: flex;
}
.chrt
{
    position: relative;
    width: 720px;
    border: 2px solid gray;
    border-top: none;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 30px;
}
.chrt .row .active,.legend .active:before
{
    background:green;
}
.chrt .row .denied,.legend .denied:before
{
    background:orange;
}
.chrt .row .terminated,.legend .terminated:before
{
    background:red;
}
.chrt .active,.chrt .denied,.chrt .terminated
{
    display:inline-block;
    height:20px;
}
.chrt .header .header-inner
{
    overflow: hidden;
    border-top:2px solid gray;
}

span.gridlines {
    width : 30px;
    border-left: 1px solid #c9c9c9;
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    pointer-events: none;
}
.graph-table p,.scroller-container p
{
    text-align: center;
    font-weight: bold;
    color: #454545;
    margin-bottom: 25px;
}
.header .row:first-child {
    border-top: 2px solid gray;
}
.header .row-container .row
{
    position: relative;
    height: 24px;
}
.legend-container
{
    width: 720px;
    margin: auto;
    margin-top: 30px;
}
.legend
{
    margin: 25px auto;
    /* width: 750px; */
    text-align: center;
    width: 620px;
    height: 40px;
    line-height: 35px;
    border: 1px solid gray;
}
.legend > div
{
    display: inline-block;
    width: 200px;
}
.legend div:before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: red;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
 
}
.gridLinesMins
{
    height: 100%;
    position: absolute;
    width: 5760px;
    top: 20px;
    left: 10px;
}
.gridLinesMins > .gridlines
{
    width:40px;
}
.hoursHeader ul li,.minsHeader ul li
{
    width: 30px;
    display: inline-block;
}
.minsHeader ul,.hoursHeader ul,.scroller ul,.secsHeader ul
{
    margin: 0px;
    padding: 0px;
}
.minsHeader ul li {
    width: 40px;
    margin-right: 20px;
    box-sizing: border-box;
}
.graph-table > p:last-child {
    display: none;
}

.minsHeader ul li:last-child,.hoursHeader ul li:last-child
{
    width: 0px;
    margin: 0px;
}
.secsHeader
{
    display: none;
    width: 770px;
    overflow: hidden;
    left:-20px;
}
.secsHeader ul
{
    position: relative;
    right:0px;
    width: 7980px;
}
.secsHeader li {
    display: inline-block;
    width: 56px;
    margin-right: 4px;
    font-size: 13px;
}
.wrapper
{
    width: 715px;
    height: 40px !important;
    margin: auto;
    position: relative;
    float: right;
    margin-right: 35px;
    clear: both;
}
.wrapper .minsHeader-scroller,.wrapper .secsHeader-scroller
{
    width: 675px;
    border: 0px;
    margin: 0px;
    position: absolute;
    left: 20px;
    z-index: 99;
    background-color: transparent;
    background-image: none;
}
.wrapper button.left,.wrapper button.right
{
    height: 100%;
    border-radius: 5px;
    width: 20px;
    background-color: #eee;
    padding: 0;
    position: absolute;
    top: 0;
    border-width: 0px;
    color: #777; 
    cursor: pointer;
}
.wrapper button.left
{
    left: 0;
}
.wrapper button.right
{
    right: 0;
}
.wrapper ul
{
    margin: 0;
    padding: 0 0 0 5px;
    position: absolute;
    top: 0;
    left: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    width: 675px;
    box-sizing: border-box;
    height: 40px;
    pointer-events: none;
    background: #efefef; /* Old browsers */
    background: -moz-linear-gradient(top,  #efefef 0%, #dddddd 78%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(78%,#dddddd), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #efefef 0%,#dddddd 78%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #efefef 0%,#dddddd 78%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #efefef 0%,#dddddd 78%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #efefef 0%,#dddddd 78%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.wrapper li
{
/*    float: left;*/
    width: 27;
    display: inline-block;
    line-height: 40px;
    position: absolute;    
    z-index: 99;
}
.wrapper  li.active {
    color: ghostwhite;
}
.wrapper li:last-child
{
    width: 23px;
}

.handle
{
    height: 40px;
    width: 80px;
    border-radius: 5px;
    cursor: all-scroll;
    background: #6b006d; /* Old browsers */
    background: -moz-linear-gradient(top,  #6b006d 8%, #880f8f 11%, #880f8f 14%, #6b006d 30%, #6b006d 30%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,#6b006d), color-stop(11%,#880f8f), color-stop(14%,#880f8f), color-stop(30%,#6b006d), color-stop(30%,#6b006d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #6b006d 8%,#880f8f 11%,#880f8f 14%,#6b006d 30%,#6b006d 30%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #6b006d 8%,#880f8f 11%,#880f8f 14%,#6b006d 30%,#6b006d 30%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #6b006d 8%,#880f8f 11%,#880f8f 14%,#6b006d 30%,#6b006d 30%); /* IE10+ */
    background: linear-gradient(to bottom,  #6b006d 8%,#880f8f 11%,#880f8f 14%,#6b006d 30%,#6b006d 30%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b006d', endColorstr='#6b006d',GradientType=0 ); /* IE6-9 */   
}
.popup
{
    width: 400px;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 30%;
    z-index: 999;    
    padding: 15px 10px;
    border: 1px solid;
}
.popup > div
{
    min-width: 70%;
    max-width: 95%;
    margin: auto;
}
.popup .pop-header .close
{
    font-size: 16px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    float: right;
} 
.popup .pop-header
{
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: sans-serif;
}
.popup .propName,.popup .propValue
{
    display: inline-block;
    width: 50%;
    font-weight: 600;
}
.popup .propName
{
    font-weight: normal;
    text-transform: capitalize;
    padding-left: 15%;
    box-sizing: border-box;
}
.popup .arrow
{
    position: absolute;
    top: 24px;
    left: -10px;
    height: 30px;
    width: 30px;
    background-color: inherit;
    transform: rotate(45deg);
    display: none;
}
.popup-terminated
{
    background-color: #FFEFEF; 
    border-color: red;
}
.popup-active
{
    background-color: #F0FFF0;  
    border-color: green;
}
.popup-denied
{
    background-color: #FFF7E7;
    border-color: orange;
}
.pop-header img
{
    float: left;
    margin-right: 10px;
}

.rowDate {
    position: absolute;
    left: 0;
}
.gridLinesHeader {
    position: absolute;
    top: 0px;
    left: 80px;
    width: 720px;
    height: 102%;
    pointer-events: none;
}

.hoursHeader, .minsHeader, .secsHeader {
    position: absolute;
    left: 70px;
    top: 0px;
}
.secsHeader {
    display: none;
    width: 770px;
    overflow: hidden;
    left: 58px;
}
.minsHeader
{
    left: 64px;
    display: none;
}
.chrt .header {
    width: 720px;
    overflow-x: hidden;
}
.chrt {
    padding-right: 15px;
    padding-left: 80px;    
    position: relative;
    width: 722px;
    border: 2px solid gray;
    border: none;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 0px;
    height: 285px;
    overflow-y: auto;
}
.chrt-Container {
    overflow: hidden;
    position: relative;
    width: 800px;
    height: 315px;
    margin: auto;
    padding-top: 10px;
    padding-right: 35px;
}
.secsScroller {
    width : 720px;
    float: right;
    overflow-x: scroll;
    display: none;
}
.secsScroller:after {
    content: "";
    width: 7200px;
    height: 1px;
    display: block;
}
.scroller-container
{
    width: 835px;
    height:40px;
    clear: both;
    margin: auto;
}
.control-status{
margin-left: 14px;
}
.control-time{
margin-left:140px;
}
/*******************************************************************/